
.container {
  min-height: 100vh;
}

.content {
  max-width: 100%
}

.headerContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #8B0000 0%, #DC143C 100%);
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #ffffff;
}

.headerContainer h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #FFD700;
}

.headerContainer p {
  font-size: 1.3rem;
  opacity: 0.9;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 50px 100px;
}

.card {
  background: white;
  padding: 1.5rem 4rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  cursor: pointer;
  border-left: 5px solid #FFD700; 
}

.card p {
    opacity: 0.9;
}

.card:hover {
    border-left: 5px solid #8B0000;
}

@media (max-width: 768px) {

  .content {
    background: #FAFAFA;
    height: 2800px;
  }


  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 4rem 1rem;
  }
}