
.container {
  min-height: 100vh;
}

.content {
  max-width: 100%
}

.headerContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #8B0000 0%, #DC143C 100%);
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #ffffff;
}

.headerContainer h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #FFD700;
}

.headerContainer p {
  font-size: 1.3rem;
  opacity: 0.9;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 6rem 9rem;
}

.card {
  background: white;
  padding: 2.5rem 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  cursor: pointer;
}


.card:hover {
  background: linear-gradient(135deg, #DC143C, #8B0000);
  color: white;
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(220, 20, 60, 0.3);
}


.number {
  font-size: 3rem;
  font-weight: 700;
  color: #FFD700;
  margin-bottom: 1rem;
}


.card h3 {
  font-size: 1.3rem;
  color: #DC143C;
  margin-bottom: 0.8rem;
  font-weight: 700;
}

.card:hover h3 {
  color: #FFD700;
}


.card p {
  font-size: 0.95rem;
  color: #666666;
  line-height: 1.6;
  margin: 0;
}

.card:hover p {
  color: white;
}


@media (max-width: 768px) {

  .content {
    background: #FAFAFA;
    height: 1700px;
  }


  .headerContainer h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .headerContainer p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 4rem 1.3rem;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}